@charset "EUC-JP";

/* フォント基本設定 */
h1 {
  color: white;
}

h2 {
  color: white;
  font-size: 36px;
}

h3 {
  color: white;
}

h4 {
  color: white;
}

p {
  color: white;
  font-size: 16px;
}
/* フォント基本設定 */

/* FVコンテンツ */
.fv-section {
  background-image: url(../img/lp01/fv_background.png),
    linear-gradient(
      to bottom,
      #055194,
      #132a63,
      #0c193b,
      #0c122f,
      #191919,
      #191919
    );
  background-size: cover; /* 背景画像が要素全体を覆うようにする */
  background-position: center; /* 背景画像を中央に配置 */
}
.fv-section-top-person {
  display: flex;
  justify-content: center; /* 横方向の中央揃え */
}

.fv-section-special {
  display: flex;
  justify-content: center; /* 横方向の中央揃え */
  padding: 80px 0;
}

.fv-section-top {
  position: relative;
}

.fv-section-top-text {
  position: absolute;
  top: 25%;
  left: 30%;
  width: 60%;
}

.fv-section-top-text-1 {
  font-size: 21px;
  margin-bottom: 0;
}
.fv-section-top-text-2 {
  font-size: 38px;
  margin-top: 0;
}
/* FVコンテンツ */

/* メディア掲載コンテンツ */
.fv-section-media {
  padding: 120px 0;
}

.fv-section-media-title-wrapper {
  display: flex; /* 横並びにする */
  align-items: center; /* 縦方向に中央揃え */
  justify-content: center; /* 全体を中央揃え */
  gap: 10px; /* テキストと横線の間にスペースを追加 */
}

.fv-section-media-title-wrapper::before,
.fv-section-media-title-wrapper::after {
  content: ""; /* 擬似要素にコンテンツを設定 */
  flex: 0.21; /* 横線を均等に伸ばす */
  height: 2px; /* 横線の高さ */
  background-color: white; /* 横線の色 */
}

.fv-section-media-title {
  white-space: nowrap; /* テキストの折り返しを防ぐ */
}

.fv-section-media-text {
  display: flex; /* 子要素を横並びにする */
  justify-content: center; /* 子要素全体を中央揃え */
  align-items: center; /* 縦方向も中央揃え */
  gap: 80px; /* テキスト間のスペースを調整 */
  padding: 40px 0;
}

.fv-section-media-text p {
  margin: 0; /* デフォルトの余白を削除 */
  position: relative; /* 擬似要素配置のため */
}

.fv-section-media-text p:not(:last-child)::after {
  content: "|"; /* 縦線を表示 */
  position: absolute;
  right: -40px; /* 縦線の位置を調整 */
  color: #ffffff; /* 縦線の色 */
  font-size: 16px; /* 必要に応じて調整 */
}
/* メディア掲載コンテンツ */

/* anker section */
.fv-anker-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 219px;
}

.anker-item {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  text-transform: uppercase;
}

.anker-item:not(:last-of-type) p:last-of-type {
  padding-left: 39px;
}

/* anker section ends */

/* about section */
.about-section {
  background: url("../img/lp01/about-bg.png"),
    linear-gradient(
        90deg,
        #191919 100%,
        #191919 77.34%,
        #0c122f 56.65%,
        #0c193b 36.95%,
        #132a63 19.21%,
        #055194 0%
      )
      no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 58px;
  border: 1px solid #000000
}

.about-section-title {
    display: flex;
    align-items: center;
    gap: 19px;
    
}

.about-section-title h2 {
  font-family: YuGothic;
  font-size: 36px;
  font-weight: 700;
  line-height: 54px;
  padding-bottom: 25px;
}

.about-section-text-top {
  font-family: YuGothic;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
}

.about-section-text-middle {
    font-family: YuGothic;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    padding: 35px 0 21px;
}

.about-section-text-bottom {
    font-family: YuGothic;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
}

/* about section ends  */

/* solution section  */
.solution-lineup-wrapper{
    background: url('../img/lp01/solution_bg.png'), linear-gradient(90deg, #191919 100%, #191919 77.34%, #0C122F 56.65%, #0C193B 36.95%, #132A63 19.21%, #055194 0%) no-repeat;
    background-position: top;
}

.solution-section {
    padding: 66px 0 121px;
    text-align: center;
}

.right-aligned-title {
    font-family: Inter;
    font-size: 36px;
    font-weight: 400;
    line-height: 43.57px;
    display: inline-flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    text-transform: uppercase;
}

.right-aligned-title span {
    font-family: YuGothic;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    align-self: end;
    margin: 0;
}

.solution-section-title p {
    font-family: YuGothic;
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    padding: 26px 0 37px;
}
    

.solution-cards {
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .solution-card {
    flex: 1 1 25%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease;
  }
  
  .solution-card p {
    font-family: YuGothic;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
  }
  
  .solution-card1 {
    background: url('../img/lp01/solution1.png') no-repeat center/cover;
  }
  
  .solution-card2 {
    background: url('../img/lp01/solution2.png') no-repeat center/cover;
  }
  
  .solution-card3 {
    background: url('../img/lp01/solution3.png') no-repeat center/cover;
  }
  
  .solution-card4 {
    background: url('../img/lp01/solution4.png') no-repeat center/cover;
  }
  
  /* Full-Screen Hovered Cards */
  .solution-card-hovered {
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    width: 100%; 
    height: 550px; 
    z-index: -1; 
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    font-family: YuGothic;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    text-decoration: none !;
  }

  .solution-card-hovered p {
    font-family: YuGothic;
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    text-decoration: none;
  }
  
  .porute-button {
    position: relative;
    padding: 10px 40px;
    width: 85px;
    font-family: YuGothic;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    color: #fff;
    text-decoration: none;
    border: 2px solid transparent;
  }

  .porute-button::before {
    position: absolute;
    content: '';
    width: 29px;
    height: 29px;
    background-image: url(../img/top/more-button.png);
    background-size: cover;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    text-decoration: none;
  }

  .porute-button::after {
    position: absolute;
    content: '';
    width: 5px;
    height: 10px;
    background-image: url(../img/top/arrow-white.png);
    background-size: cover;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
  }

  .porute-button:hover {
    border: 2px solid #fff;
    border-radius: 30px;
  }

  .porute-button:hover::before {
    display: none;
}
  /* Individual Hovered Backgrounds */
  .solution-card1-hovered {
    background: url('../img/lp01/solution1_hovered.png') no-repeat center/cover;
  }
  
  .solution-card2-hovered {
    background: url('../img/lp01/solution2_hovered.png') no-repeat center/cover;
  }
  
  .solution-card3-hovered {
    background: url('../img/lp01/solution3_hovered.png') no-repeat center/cover;
  }
  
  .solution-card4-hovered {
    background: url('../img/lp01/solution4_hovered.png') no-repeat center/cover;
  }
  
  /* Hover State for Full-Screen Card */
  .solution-card:hover + .solution-card-hovered,
  .solution-card-hovered:hover {
    z-index: 10; /* Bring to the top */
    opacity: 1; /* Make visible */
    pointer-events: all; /* Enable interaction */
    text-decoration: none;
  }

/* solution section ends */

/* line up section */

.lineup-section {
    text-align: center;
}

.lineup-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 46px;
    
  }
  
  .lineup-card-wrapper {
    display: contents; /* Allows grid placement of children */
  }
  
  .lineup-card {
    background: url('../img/lp01/lineupbg.png'), #000 no-repeat center / cover;
    height: 455px;
    position: relative;
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .lineup-card:nth-child(2n) {
    background-position: -10px -40px; 
  }

  .lineup-card:nth-of-type(odd)::after {
    content: '';
    width: 1px;
    height: 40px;
    background: #fff;
    position: absolute;
    top: 0;
    right: 0;
  }
  
  
  .lineup-card:nth-child(2n) {
    grid-row: span 1;
    transform: translateY(40px); 
  }
  
  .lineup-card img {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .lineup-card h3 {
    font-family: YuGothic;
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    z-index: 1; 
  }
  
  .lineup-card p {
    width: 400px;
    font-family: YuGothic;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    padding: 18px 0 32px;
    z-index: 1; 
  }
  
  .lineup-card:hover {
    text-decoration: none;
  }

/* line up section ends */

@media screen and (max-width: 767px) {
}
